extends ../base.pug

block section
    iframe(
        type="text/html",
        width="560",
        height="315",
        src=music.musicInfo.musicSrc,
        title=music.title,
        frameborder="0",
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share",
        allowfullscreen
    )

    .music__data
        p.music__artist= music.artist
        p.music__divide -
        p.music__title= music.title
        .music__recommenderDiv
            small.music__recommender Recommended by
                a(href=`users/${music.recommender._id}`)= music.recommender.name
            if String(music.recommender._id) === String(loggedInUser._id)
                a.music__verifiedButton(href=`${music.id}/edit`) Edit Music &rarr;
                a.music__verifiedButton(href=`${music.id}/delete`) Delete Music &rarr;

block scripts
    script(src="/assets/js/controlYoutubeVideo.js") 
