mixin musicVertical(music)
    .music__vertical(
        data-musicid=music._id,
        data-verticalmusicsrc=music.musicInfo.musicSrc
    )
        .music__vertical-img-wrap
            img(src=music.musicInfo.musicThumbnailSrc, alt="")
        .music__vertical-mixin-data
            p.music__vertical-mixin-title= music.title
            .music__vertical-mixin-artist-and-recommender
                span.music__vertical-mixin-artist= music.artist
                .music__vertical-mixin-recommender-wrap
                    a.music__vertical-mixin-recommender(
                        href=`/users/${music.recommender._id}`,
                        data-recommenderid=music.recommender._id
                    ) #{ music.recommender.username }
                    span 님이 추천함
