mixin musicVertical(music)
    .music__vertical(
        data-musicid=music._id,
        data-verticalmusicsrc=music.musicInfo.musicSrc
    )
        .music__vertical-img-wrap
            img(src=music.musicInfo.musicThumbnailSrc, alt="")
        .music__vertical-mixin-data
            p.music__vertical-mixin-title= music.title
            .music__vertical-mixin-artist-wrap(
                data-recommenderid=music.recommender._id,
                data-recommender=music.recommender.username
            )
                span.music__vertical-mixin-artist= music.artist
