mixin userListenedMusic(music)
    a.music-mixin.listenedMixin(
        href=`/music/${music.musicListenedId._id}?re=true`,
        data-musicid=music._id
    )
        .music-img-cutter
            img(src=music.musicListenedId.musicInfo.musicThumbnailSrc, alt="")
        .music-mixin__data
            span.music-mixin__title #{ music.musicListenedId.title }
            span.music-mixin__artist #{ music.musicListenedId.artist }
