include mixins/playlistLink

doctype html 
html(lang="ko")
    head
        link(rel="shortcut icon", href="#")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap",
            rel="stylesheet"
        )
        link(
            rel="stylesheet",
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        )
        link(rel="stylesheet", href="/assets/css/styles.css")
        title #{ pageTitle } | Chillin on the beat
    body
        nav.none
            .navTopDiv
                button.closeNavBtn
                    i.fa-solid.fa-bars.fa-2x.navIcon
                span.navTitle Chillin on the beat
            hr
            a#navHomeBtn(href="/")
                i.fa-solid.fa-house.fa-lg
                span 홈
            a#navHomeBtn(href="/search")
                i.fa-solid.fa-magnifying-glass.fa-xl
                span 검색
            if loggedIn
                a#myPlayListBtn(href=`/users/${loggedInUser._id}`)
                    i.fa-solid.fa-thumbs-up.fa-xl
                    span 내가 추천한 음악
            hr
            //- if loggedIn
            //-     each value in playlist 
            //-         +playlistLink(value)
            //-     else
            //-         a(href="/playlist/create")
            //-             i.fa-solid.fa-list.fa-xl
            //-             span 플레이리스트 생성

        main
            header
                button.openNavBtn
                    i.fa-solid.fa-bars.fa-2x
                a.pageTitleA(href="/") Chillin on the beat
                if loggedIn
                    a.uploadA(href="/music/upload") 음악 추천하기
                    a.createPlaylistA(href="/playlist/create") 플레이리스트 생성
                    a.editprofA(href="/users/edit-profile") 계정 관리
                    a.logoutA(href="/users/logout") 로그아웃
                else
                    a.joinA(href="/join") 가입
                    a.loginDiv(href="/login") 로그인
            block section
        .blurDiv
    script(src="/assets/js/main.js")
    block scripts
